h1{  
  font-style:italic;text-align:center;margin:10px;background-color:white;color:red;
  
}
.menu-list{
  width:20px;
  height:5px;
  background-color:black;
  margin-bottom: 5px;
  border-radius: white 20px;
}
.body{
 
  background-color:cover;
  background-repeat: no-repeat;
}

body{
 border-color:blueviolet;
}
.none{
  padding: 3px;
  float: right;
}
.detail{
   width: 300px;
   margin: 33px auto;
}
.none1{
  margin-left: 120px;
  margin-top: 30px;
  color: red;
}
a{
    color: blue;
    text-decoration: none;
    padding: 2px 8px;
}




